/* Główne style dla formularza */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f9;
    color: #333;
}

.header {
    background-color: #4CAF50;
    color: white;
    padding: 20px 0;
    text-align: center;
}

.main-content {
    padding: 20px;
    max-width: 600px;
    margin: 20px auto;
    background: #fff;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
}

h1 {
    margin: 0;
    font-size: 24px;
}

p {
    font-size: 16px;
    margin-bottom: 20px;
}

.add-product-form {
    display: flex;
    flex-direction: column;
    gap: 15px;
}

/* Style dla etykiet */
.add-product-form label {
    font-weight: bold;
    margin-bottom: 5px;
    display: inline-block;
}

/* Style dla inputów */
.add-product-form input[type="text"],
.add-product-form input[type="number"],
.add-product-form input[type="file"],
.add-product-form select,
.add-product-form textarea {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 14px;
    background-color: #f9f9f9;
    box-sizing: border-box;
}

.add-product-form input[type="text"]:focus,
.add-product-form input[type="number"]:focus,
.add-product-form input[type="file"]:focus,
.add-product-form select:focus,
.add-product-form textarea:focus {
    border-color: #4CAF50;
    outline: none;
}

/* Style dla textarea */
.add-product-form textarea {
    min-height: 100px;
    resize: vertical;
}

/* Style dla przycisków */
.add-product-form button {
    background-color: #4CAF50;
    color: white;
    padding: 10px 15px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
}

.add-product-form button:hover {
    background-color: #45a049;
}

.back-button-container {
    margin-top: 20px;
    text-align: center;
}

.back-button {
    display: inline-block;
    padding: 10px 20px;
    background-color: #007BFF;
    color: #fff;
    text-decoration: none;
    border-radius: 5px;
    font-size: 16px;
    transition: background-color 0.3s ease;
}

.back-button:hover {
    background-color: #0056b3;
}


/* Stopka */
footer {
    text-align: center;
    padding: 15px;
    background-color: #4CAF50;
    color: white;
    margin-top: 20px;
    position: relative;
}

/* Media Queries */
@media (max-width: 768px) {
    .main-content {
        padding: 15px;
    }

    .add-product-form button {
        font-size: 14px;
    }
}
